<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yazılar üzerinde filtreleme işlemleri yapılır:</title>
</head>
    <!--Pythonda Flask uygulamasında kullanılan Jinja yapısı kullanılmıştır.-->
    <!-- aşağıda ise isimlerin yazılma biçimini nitelendiren yapılar örneklendirilmişitir.-->
<body>
<p> Merhaba {{isim |upper}}</p>
<p> Merhaba {{isim |lower}}</p>
<p> Merhaba {{isim |capitalize}}</p>
<p> Merhaba {{isim |title}}</p>
<p> {{stuff|safe}}</p>
<p> {{stuff|striptags}}</p>
</body>
</html>
