<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Sayfası</title>
</head>
<body>
    <!--öğrenci sayfasında daha sonra result sayfasında gösterilmek üzere ders ve isim isteği eklenmiştir.
    ayrıca öğrenciden bu bilgilerin girilmesi istenmektedir.-->
<form action ="{{ url_for('Result')}}" method="post">
    <p> Öğrencinin İsmini Giriniz: <input type="text" name="name"/></p>
    <p> Öğrencinin Fizik Notunu Giriniz: <input type="text" name="physics"/> </p>
    <p> Öğrencinin Matematik Notunu Giriniz: <input type="text" name="matematics"/> </p>
    <p> Öğrencinin Kimya Notunu Giriniz: <input type="text" name="chemistry"/> </p>
    <p> <input type="submit" value=" Gönder" /></p>

</form>
</body>
</html>
